{% extends "base/base.html" %}

{% load static %}

{% block content %}
<h1>My Accordion</h1>

<script type="text/javascript" src="{% static 'script.js' %}"></script>


<div class="accordion" id="accordion">
    <div class="biodata profile">
      <div class="biodata-bar">
        <h5>Profile <button class="naik"><img src="{% static 'arrowup.png' %}" width="20px"></button> <button class="turun"><img src="{% static 'arrowdown.png' %}" width="20px"></button></h5>
        <!-- <div class="buttons">
          <button class="naik">^</button>
          <button class="turun">v</button>
        </div> -->
      </div>
      <div class="biodata-content" >
        <p>Nama : Josias Marchellino Pakpahan</p>
        <p>NPM : 1906298941 </p>
        <p>Angkatan : 2019 </p>
        <p> Jurusan : Sistem Informasi</p>
      </div>
    </div>
    <div class="biodata activity" >
      <div class="biodata-bar"  >
        <h5> Aktivitas <button class="naik"><img src="{% static 'arrowup.png' %}" width="20px"></button> <button class="turun"><img src="{% static 'arrowdown.png' %}" width="20px"></button> </h5>
        <!-- <div class="buttons">
          <button class="naik">^</button>
          <button class="turun">v</button>
        </div> -->
      </div>
      <div class="biodata-content" >
        <p>Mengerjakan Tugas</p>
        <p>Makan</p>
        <p>Tidur</p>
        <!-- <ul>
          <li> Kerjain Tugas</li>  
          <li> Makan </li>
          <li> Tidur </li>
        </ul> -->
      </div>
    </div>
    <div class="biodata organization">
      <div class="biodata-bar" >
        <h5> Pengalaman Organisasi <button class="naik"><img src="{% static 'arrowup.png' %}" width="20px"></button> <button class="turun"><img src="{% static 'arrowdown.png' %}" width="20px"></button> </h5>
        <!-- <div class="buttons">
          <button class="naik">^</button>
          <button class="turun">v</button>
        </div> -->
      </div>
      <div class="biodata-content">
        <p>Staff PSDM KMK Fasilkom UI</p>
        <!-- <ul>
          <li> Staff PSDM KMK UI</li>
        </ul> -->
      </div>
    </div>
    <div class="biodata achievement">
      <div class="biodata-bar"  >
        <h5> Prestasi <button class="naik"><img src="{% static 'arrowup.png' %}" width="20px"></button> <button class="turun"><img src="{% static 'arrowdown.png' %}" width="20px"></button> </h5>
        <!-- <div class="buttons">
          <button class="naik">^</button>
          <button class="turun">v</button>
        </div> -->
      </div>
      <div class="biodata-content">
        <p>Juara 1 Lomba Cerdas Cermat SMA</p>
        <p>Siswa Berprestasi ke - 5 SMA Negeri 14 Bekasi</p>
        <!-- <ul>
          <li> Juara 1 Lomba Cerdas Cermat SMA </li>
          <li> Siswa Berprestasi ke - 5 SMA Negeri 14 Bekasi </li>
        </ul> -->
      </div>
    </div>
 
  </div>


{% endblock content%}