{% extends "base/base.html" %}

{% load static %}

{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <input class="form-control" id="keyword" type="text" placeholder="Masukan Judul Buku" size = "50"> -->
<div class="container">
    <h3><img class="logo" src="{% static 'book.png' %}" width="100px"> Cari Bukumu Disini!</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="input-group">
            <input class="form-control" id="keyword" name="query" type="text" placeholder="Search" aria-label="Search" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btn-search">SEARCH</button>
            </span>
            </div>
        </div>
    </div>
</div>

<div class="container layout">
    <div class="book-result-section" id="hasil">
        
    </div>

<ol id="hasil">
    <li></li>
</ol>

<script type="text/javascript">
    $("#keyword").keyup(function() {
        var isi = $("#keyword").val();   
        var url_isi = '/data?q='+isi;
        $.ajax({
            url:url_isi,
            success: function(hasil){
                var hasil_book = $("#hasil");
                hasil_book.empty();
                for (i = 0; i < hasil.items.length; i++) {
                    var title_book = hasil.items[i].volumeInfo.title;
                    var thumbnails = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;              
                    hasil_book.append('<li>'+ title_book +'<br> <img src ='+thumbnails+'></li>')
                              
                }
            }

        });
    });
</script>
   
{% endblock content%}