/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {
	padding:20px;
	text-align: center;
}

.biodata{
    margin: 20px;
    border-radius:15px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 100px;
    margin-right: 100px;
}

.biodata-bar {
  background-color: rgb(236, 236, 236);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 5px solid rgb(45, 180, 45);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 15px;
}

.biodata-content {
  background-color: rgb(201, 253, 201);
  border-radius: 20px; 
}

h5{
  text-align: left;
}

button.naik {
  
  padding: 0px;
  border: 0px;
}
button.turun {
  
  padding: 0px;
  border: 0px;
}

